* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: nowrap; /* 항목을 한 줄에 유지 */
  margin: 20px;
  align-items: center; /* 세로로 중앙 정렬 */
}

.car-image {
  flex: 1;
  padding: 20px;
  max-width: 50%; /* 사진의 최대 폭 제한 */
  margin-top: -300px;
}

.car-image img {
  width: 100%; /* 부모 요소에 맞게 크기 조정 */
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.car-image img:hover {
  transform: scale(1.05);
}

.car-info {
  flex: 1; /* 남은 공간 채우기 */
  padding: 20px; /* 정보와 사진 간 간격 확보 */
  display: flex;
  flex-direction: column;
}

.car-details {
  margin-bottom: 20px;
}

.car-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.car-details p {
  font-size: 18px;
  margin: 5px 0;
  color: #555;
}

.divider {
  margin: 20px 0;
  border: 0;
  border-top: 2px solid #ddd;
}

.reviews {
  margin-top: 20px;
}

.reviews h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.reviews ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 레이아웃 */
  gap: 10px; /* 항목 간격 */
  list-style-type: none;
  padding: 0;
}

.reviews li {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.reviews li:hover {
  background-color: #e0e0e0;
}

.reviews li:first-child {
  margin-top: 20px;
}
